/* font */
@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Thin-FD-WOL.ttf"), url("../fonts/Vazir-Thin.ttf");
    font-weight: 1;
}

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Light-FD-WOL.ttf"), url("../fonts/Vazir-Light.ttf");
    font-weight: 2;
}

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-FD-WOL.ttf"), url("../fonts/Vazir.ttf");
    font-weight: 3;
}

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Medium-FD-WOL.ttf"), url("../fonts/Vazir-Medium.ttf");
    font-weight: 4;
}

@font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir-Bold-FD-WOL.ttf"), url("../fonts/Vazir-Bold.ttf");
    font-weight: 5;
}

/* font-end */

:root {
    --Trans-back-color1: rgba(14, 177, 192, 0.3);
    --Trans-back-color2: rgba(14, 177, 192, 0.7);
    --text-color-1: white;
    --text-color-2: rgb(8, 67, 72);
    --text-color-3: black;
    --hover-color: rgb(234, 255, 0);
}

/* header */
/* navbar top */
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1.5rem;
    left: 50%;
    background-color: var(--Trans-back-color1);
    width: 90%;
    border-radius: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transform: translateX(-50%);
    transition: top 0.5s;
    z-index: 1;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--text-color-1);
    border-left: 0.1rem solid var(--text-color-1);
}

.nav-item:nth-last-child(1) {
    border: none;
}

.nav-contact {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    color: var(--text-color-1);
}

.nav-contact i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.nav-item i {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

/* navbar top-end */

/* welcome cover */
.welcome-cov .active {
    overflow: hidden;
    position: relative;
    --welcome-cov-img1: url("./imgs/welcome-cover-01.jpg");
    --welcome-cov-img2: url("./imgs/welcome-cover-02.jpg");
    --welcome-cov-img3: url("./imgs/welcome-cover-03.jpg");
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), var(--welcome-cov-img1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wel-img-slide {
    width: 100%;
}

.wel-text-slide {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--text-color-1);
}

.wel-text-slide>div:nth-child(1) {
    font-size: 4rem;
}

.wel-text-slide>div:nth-child(2) {
    font-size: 1.5rem;
    color: var(--hover-color);
    margin-top: 3rem;
}

/* welcome cover-end */
/* header-end */

/* main */
/* type of building */
#to-building {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

/* type of building-end */
/* licenses and honors */
#lic-hon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#lic-hon>div {
    margin: 2rem;
}

/* licenses and honors-end */
/* main-end */

/* all */
* {
    font-family: vazir;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0px;
    text-align: center;
    background-color: rgb(247, 250, 204);
}

main {
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* btn */
.btn {
    color: var(--text-color-1);
    background-color: var(--text-color-2);
    border: 0.1rem solid var(--text-color-1);
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

.btn-un {
    color: var(--text-color-2);
    background-color: var(--text-color-1);
    border: 0.1rem solid var(--text-color-2);
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.3s;
}

/* btn-end */

/* collapse */
.collapse-menu-btn {
    display: none;
}

.menu-line1, .menu-line2, .menu-line3 {
    width: 1.5rem;
    height: .4rem;
}


.collapse-menu {
    display: flex;
}

.collapse-item {
    padding: 1rem;
    color: var(--text-color-1);
    border: none;
    border-bottom: .1rem solid var(--text-color-1);
}

/* collapse-end */

/* click-slider */
.click-slider {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0.7rem;
    min-width: 13rem;
    max-width: 28rem;
    border-radius: .5rem;
    text-align: center;
    background-color: white;
    box-shadow: -2px 2px 15px 3px var(--Trans-back-color2);
}

.tittle-slider {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 5;
    color: var(--text-color-2);
}

.content-slider {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-group {
    display: none;
    overflow: hidden;
    margin-bottom: 1.5rem;
    transition: all 0.3s;
}

.img-slider {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: .7rem;
    object-fit: cover;
    width: 100%;
}

.txt-slider {
    display: block;
    width: 100%;
}

.selector-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    font-weight: bolder;
    left: 0%;
    top: 40%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background-color: #6767699f;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.selector-prev:hover {
    color: var(--hover-color);
    background-color: #242424d2;
}

.selector-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 2rem;
    font-weight: bolder;
    right: 0%;
    top: 40%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    background-color: #6767699f;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.selector-next:hover {
    color: var(--hover-color);
    background-color: #242424d2;
}

/* click-slider-end */

/* cards */
.card {
    display: block;
    position: relative;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    border-radius: .7rem;
    border: .2rem solid var(--text-color-2);
    background-color: var(--text-color-1);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    box-shadow: -2px -2px 15px 2px var(--Trans-back-color1);
    transition: all .3s;
}

.card-gradient {
    position: absolute;
    display: block;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background: linear-gradient(-20deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}

.card-txt-on {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    color: var(--text-color-1);
    font-size: .2rem;
    transition: all 0.3s;
}

.card-txt-under {
    display: block;
    color: var(--text-color-3);
    transition: all 0.1s;
}

.card:hover .card-img {
    filter: blur(0.5rem);
}

.card:hover .card-txt-on {
    display: block;
    top: 50%;
    width: 100%;
    opacity: 1;
    color: var(--text-color-1);
    background-color: var(--Trans-back-color1);
    font-size: 2rem;
}

.card:hover .card-txt-under {
    opacity: 0;
    transform: translateY(-20%);
}

/* cards-end */

/* hover */
.hover {
    transform: translateY(0px);
    transition: all .3s;
}

.hover:hover {
    transform: translateY(-2px);
    cursor: pointer;
    color: var(--hover-color);
    font-weight: bolder;
    text-shadow: 0px 2px 10px var(--text-color-1);

}

/* hover-end */

.active {
    display: block;
}

/* all-end */

/* media coery */
@media screen and (max-width:900px) {
    .collapse-menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0.3rem;
        width: 2.3rem;
        height: 2.3rem;
    }

    .collapse-menu {
        visibility: collapse;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        background-color: var(--Trans-back-color2);
    }

    .collapse-menu-on {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        background-color: var(--Trans-back-color2);
    }

    .nav-item {
        border-left: none;
    }

}

@media screen and (max-width:700px) {

    /* main */
    /* type of building */
    #to-building {
        flex-wrap: wrap;
    }

    /* type of building-end */
    /* licenses and honors */
    #lic-hon {
        flex-wrap: wrap;
    }

    /* licenses and honors */

    /* main-end */
}

/* media coery-end */